@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: -10;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #050505; 
  color: white;
  overflow-x: hidden;
}

body {
  display: block; 
}

/* Navigation animation */
.NavigationMenuContent {
  animation-duration: 250ms;
  animation-timing-function: ease;
}